@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary Colors */
    --primary-background: #000000;
    --primary-foreground: #ffffff;
    --primary-light: #333333;
    --primary-dark: #000000;

    /* Secondary Colors */
    --secondary-background: #ffffff;
    --secondary-foreground: #000000;
    --secondary-light: #f7f7f7;
    --secondary-dark: #222222;

    /* Accent Colors */
    --accent-color: #f15858;
    --accent-foreground: #ffffff;
    --accent-light: #f48a8a;
    --accent-dark: #d13030;

    /* Border Colors */
    --border-primary: #cccccc;
    --border-secondary: #999999;
    --border-light: #e0e0e0;
    --border-dark: #666666;
  }
  
  @font-face {
    font-family: 'Michelia';
    src: url('/fonts/Michelia.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Arsenal SC';
    src: url('/fonts/ArsenalSC-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Reddit Sans';
    src: url('/fonts/RedditSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Reddit Sans Condensed';
    src: url('/fonts/RedditSansCondensed-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}

@layer utilities {
  /* Background Color Utilities */
  .bg-primary {
    background-color: var(--primary-background);
  }

  .bg-primary-light {
    background-color: var(--primary-light);
  }

  .bg-primary-dark {
    background-color: var(--primary-dark);
  }

  .bg-secondary {
    background-color: var(--secondary-background);
  }

  .bg-secondary-light {
    background-color: var(--secondary-light);
  }

  .bg-secondary-dark {
    background-color: var(--secondary-dark);
  }

  .bg-accent {
    background-color: var(--accent-color);
  }

  .bg-accent-light {
    background-color: var(--accent-light);
  }

  .bg-accent-dark {
    background-color: var(--accent-dark);
  }

  /* Text Color Utilities */
  .text-primary {
    color: var(--primary-foreground);
  }

  .text-secondary {
    color: var(--secondary-foreground);
  }

  .text-accent {
    color: var(--accent-color);
  }

  /* Border Color Utilities */
  .border-primary {
    border-color: var(--border-primary);
  }

  .border-secondary {
    border-color: var(--border-secondary);
  }

  .border-light {
    border-color: var(--border-light);
  }

  .border-dark {
    border-color: var(--border-dark);
  }
}